.DS_Store
/node_modules/

# React Router
/.react-router/
/build/

.env.example
.env.local
.env
# Local Netlify folder
.netlify

/scripts
!/scripts/generate-sitemap.ts
.mcp.json
/docs
stripe-diagnostic-report.json
admin.orders.tsx